:root {
  --primarycolor: #000;
  --secondarycolor: #36393B;
  --lightgraycolor: #425357;
  --whitecolor: #fff;
  --headingbg: #dddddd;
  --hitgraycolor: #A9A9A9;
  --watercolor: #EBF2FF;
}
.wl-header {
  text-align: center;
  /* background: var(--primarycolor); */
  padding: 20px 0;
  max-width: 768px;
  margin: 0 auto;
}
.wl-header img {
  width: 200px;
  height: auto;
}
/* form */

#wl-form {
  max-width: 768px;
  margin: 0 auto 10px auto;
  padding: 0;
  background: #f4f7f8;
  border-radius: 8px;
}
.wl-upload-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#wl-form table td,
#wl-form table th {
  border: 1px solid #d7d7d7;
  padding: 5px 20px;
  margin: 0;
}
#wl-form input[type="color"] {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  height: 40px;
  margin: 0;
  outline: 0;
  width: 25%;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
}
input.wl-upload-btn {
  background: var(--primarycolor);
  color: var(--whitecolor);
  border: none;
}
input.wl-upload-btn:hover {
  background: #f4f7f8;
  color: var(--primarycolor);
}
#wl-form input[type="submit"] {
  color: #fff;
  background-color: var(--primarycolor);
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid var(--primarycolor);
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px;
}

#wl-form fieldset {
  margin-bottom: 30px;
  border: none;
  overflow: hidden;
}

#wl-form legend {
  font-size: 1.4em;
  margin-bottom: 10px;
  background: var(--headingbg);
  width: 100%;
  padding: 10px 5px;
  font-weight: bold;
}

#wl-form label {
  display: flex;
  font-weight: normal;
  font-size: 16px;
  align-items: center;
}
.pre-upload-bg-image img,
.pre-upload-logo img {
  margin-left: 10px;
}
#wl-form label.light {
  font-weight: 300;
  display: inline;
}

#wl-form .number {
  background-color: var(--primarycolor);
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 100%;
}
#image_preview_login_logo {
  background-size: contain;
}
#wl-form h1 {
  margin: 0 0 30px 0;
  text-align: center;
  font-weight: normal;
}
#wl-form .wl_table {
  width: 100%;
}

#wl-form .wl_table tr th {
  text-align: left;
}

#wl-form p {
  margin: 0;
}

#wl-form .upload__inputfile,
#wl-form .upload__inputfilebg {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
#wl-form .wl-upload-btn {
  /* display: inline-block; */
  font-weight: 600;
  color: #fff;
  text-align: center;
  min-width: 116px;
  padding: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 2px solid;
  background-color: var(--primarycolor);
  border-color: var(--primarycolor);
  border-radius: 10px;
  line-height: 26px;
  font-size: 14px;
}
#wl-form .wl-upload-btn:hover {
  background-color: unset;
  color: var(--primarycolor);
  transition: all 0.3s ease;
}
#wl-form .wl-upload-btn-box {
  margin-bottom: 10px;
}
#wl-form .upload__img-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
#wl-form .upload__img-box {
  width: 200px;
  padding: 0 10px;
  margin-bottom: 12px;
}
#wl-form .upload__img-close {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgb(195 41 41 / 90%);
  position: absolute;
  top: 0px;
  right: 0;
  text-align: center;
  line-height: 24px;
  z-index: 1;
  cursor: pointer;
}
#wl-form .upload__img-close:after {
  content: "✖";
  font-size: 14px;
  color: white;
}

#wl-form .img-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100px;
  height: 100px;
}

.wl-color {
  display: flex;
}

.wl-login {
  border-bottom: 1px solid var(--graycolor);
  padding: 10px 20px;
  clear: both;
}
.wl-login img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.wl-label-title {
  float: left;
  width: 40%;
  display: flex;
  align-items: center;
  line-height: 40px;
}
.wl-label-title label {
  float: left;
  width: 60%;
  font-weight: bold;
}

.wl-img-upload {
  position: relative;
  max-width: 205px;
  /* margin: 50px auto; */
}

.wl-img-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}

.wl-img-upload .avatar-edit input {
  display: none;
}
.wl-img-upload .avatar-edit input + label {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
  left: -5px;
  top: -15px;
  position: absolute;
}
.wl-img-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.wl-img-upload .avatar-edit input + #admin_login_logo:after,
.wl-img-upload .avatar-edit input + #admin_login_background_imge:after {
  content: "\f464";
  color: #757575;
  font-family: dashicons;
  position: absolute;
  font-size: 20px;
  top: 0px;
  left: 5px;
  top: 2px;
  right: 0;
  text-align: center;
  margin: auto;
}
#delete_admin_login_logo {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-bottom: 0;
  border-radius: 100%;
  top: 70px;
  color: #fff;
  background: #fff;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
  left: -10px;
  position: absolute;
}
#delete_admin_login_logo:after {
  content: "\f182";
  color: #a70000;
  font-family: dashicons;
  position: absolute;
  font-size: 20px;
  top: 0px;
  left: 3px;
  top: 2px;
  right: 0;
  text-align: center;
  margin: auto;
}
#delete_admin_login_background_imge {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-bottom: 0;
  border-radius: 100%;
  top: 85px;
  color: #fff;
  background: #fff;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
  left: -5px;
  position: absolute;
}
#delete_admin_login_background_imge:after {
  content: "\f182";
  color: #a70000;
  font-family: dashicons;
  position: absolute;
  font-size: 20px;
  top: 0px;
  left: 3px;
  top: 2px;
  right: 0;
  text-align: center;
  margin: auto;
}
#delete_admin_login_logo:hover,#delete_admin_login_background_imge:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}
.wl-img-upload .avatar-preview {
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #f8f8f8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.wl-img-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.wl-img-upload .image-square {
  border-radius: 0;
}
.mainlogo .avatar-edit input + label {
  top: 0px;
  left: -12px;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  /* width: 40rem; */
  height: 1rem;
  cursor: pointer;
  overflow: hidden;
  border-radius: 1rem;
  border: 4px solid hsl(197.13deg 25.02% 69.55% / 36%);
  background: var(--watercolor);
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 1rem;
  background: hsl(0, 0%, 99%);
  border-radius: 1rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 1rem;
  width: 1rem;
  background-color: white;
  border-radius: 50%;
  border: 1px solid hsl(213, 81%, 77%);
  box-shadow: -50rem 0 5rem 20rem hsl(213, 81%, 77%),
    -40rem 0 5rem 30rem hsl(213, 81%, 77%),
    -30rem 0 2rem 25rem hsl(213, 81%, 77%),
    -25.5rem 0 0 25rem hsl(213, 81%, 77%);
}

.login-container-margin-wrapper,
.login-container-padding-wrapper,
.login-form-margin-wrapper,
.login-form-padding-wrapper,
.message-box-margin-wrapper,
.message-box-padding-wrapper {
  display: flex;
}
.login-container-margin-wrapper span,
.login-container-padding-wrapper span,
.login-form-margin-wrapper span,
.login-form-padding-wrapper span,
.message-box-margin-wrapper span,
.message-box-padding-wrapper span {
    align-items: center;
    display: flex;
}
.login-container-margin-wrapper input[type="number"],
.login-container-padding-wrapper input[type="number"],
.login-form-margin-wrapper input[type="number"],
.login-form-padding-wrapper input[type="number"],
.message-box-margin-wrapper input[type="number"],
.message-box-padding-wrapper input[type="number"] {
  width: 25%;
}
.login-container-margin-wrapper span {
  align-items: center;
}

.login-form-bg-color-wrapper,.login-form-color-wrapper,.login-form-text-color-wrapper,.message-box-bg-color-wrapper,.message-box-text-color-wrapper,.link-text-color-wrapper,.login-btn-bg-color-wrapper,.login-btn-color-wrapper {
  display: flex;
  align-items: center;
  gap: 3px;
}

#wl-form .color-code {
  padding: 6px;
  background: var(--primarycolor);
  color: var(--whitecolor);
  cursor: copy;
}
#wl-form .color-code.copied {
  padding: 6px;
  background: var(--primarycolor);
  cursor: copy;
}

.copied-message{
  display: none;
}
.copied-message.active{
  display: block;
}

.whitelabel-copyright {
  text-align: center;
  padding-bottom: 30px;
}

.whitelabel-copyright span {
  color: var(--primarycolor);
  font-size: 20px;
}